---
title: "Materializing trust flows in decentralized networks of data stores using Solid, UMA and ODRL"

---
<header markdown="1">
# <%= @item[:title] %>

<!-- Poster and demo submissions are at most three pages long, excluding references. Authors will be granted one extra page when preparing their camera-ready version in case of acceptance in order to address the reviewers’ comments. -->

{:#authors}
- <%= person 'Ruben Dedecker', 'http://rubendedecker.be/', 'http://pod.rubendedecker.be/profile/card#me' %>
- <%= person 'Wout Slabbinck', '', '' %>
- <%= person 'Wouter Termont', '', '' %>
- <%= person 'Beatriz Esteves', '', '' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', '' %>

{:#affiliations}
- {:#ugent} IDLab, Department of Electronics and Information Systems, Ghent University – imec.

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section '0_abstract' %>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->  

  <%= section '1_introduction' %>
  <%= section '2_use_case' %>
  <%= section '3_architecture' %>
  <%= section '4_conclusion' %>
</main>

<footer></footer>

</div>
